/* Personal Website
================================================================== */

:root {
  --dark: #1A1A1A;
  --light: #FAFAFA;
}


/* Base Styles
================================================================== */
* {
  box-sizing: border-box;
}

body {
  background: var(--light);
  color: var(--dark);
  padding: 0 0 0 0;
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}




/* Typography
================================================================== */
h1 {
  font-size: 3.75em;
  font-family: articulat-cf, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  line-height: 1;
}


h2 {
  font-size: 1.25em;
  font-family: articulat-cf, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  line-height: 1.3;
}

h3 {
  font-size: 2em;
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0.5em 0;
}

h4 {
  font-size: 1.3em;
  margin: 0.2em 0 1em 0;
  line-height: 1.2;
  font-weight: 600;
}

p {
  font-size: 1.7em;
  margin: 0 0 1em 0;
  line-height: 1.2;
}

.p1 {
  font-size: 1.7em;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  text-decoration: none;

}

a {
  text-decoration: underline;
  color: inherit;
}


/* Image Grid
================================================================== */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2em;
  justify-content: center;
  position: relative;
  padding: 4.5em 1em;
  max-width: 1200px;
  margin: 0 auto;
}

.column_info {
  grid-row-start: 1;
  grid-column-start: 1;
  background-image: url(images/intro_text_background.png);
  background-position: left;
  background-size: contain;
  display: grid;
  justify-items: start;
  align-items: center;
  align-content: center;
  padding: 5em 2em 4em 0;
  overflow: visible;
  background-repeat: no-repeat;
}




/* Project
================================================================== */

.project_thumbnail {
  position: relative;
  cursor: pointer;
}

.project_thumbnail img {
  display: block;
  margin: 0;
  transition: all 0.5s;
}

.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.25em;
  opacity: 0;
  transition: all 0.5s;
  line-height: 1em;
}

.project {
  margin-bottom: 0.5em;
}

.project_thumbnail:hover .overlay {
  opacity: 1;
}

.project_thumbnail:hover img {
  opacity: 0.5;
}


.project_card {
  display: grid;
  justify-content: start;
  align-content: space-between;
  background: #d7e1e8;
  color: rgb(50, 50, 50);
  border-radius: 19px;
  padding: 2em;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateY(200vh) translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 65vw;
  max-height: 90vh;
  backdrop-filter: blur(5px);
  grid-template-columns: 100%;
  transition: opacity 0.5s linear, transform 0s linear 0.5s;
  opacity: 0%;
}

.project_active .close_card {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

body.project_overlay_active {
  overflow-y: hidden;
}

.project_next {
  position: fixed;
  right: -5vw;
  top: 40vh;
  max-width: 5vw;
  cursor: pointer;
  width:20px;
}

.project_prev {
  position: fixed;
  left: -5vw;
  top: 40vh;
  cursor: pointer;
  width:20px;
}

.project_prev :hover {
  position: fixed;
  left: -5vw;
  top: 40vh;
  cursor: pointer;
  width:20px;

}


.project_active .project_card {
  backdrop-filter: blur(5px);
  transform: translateY(-50%) translateX(-50%);
  opacity: 100%;
  transition: opacity 0.5s linear, transform 0s linear 0s;
}

/* .project_active:after {
  content: '';
  position: fixed;
  width: 120vw;
  height: 120vh;
  top: -20vh;
  left: -20vw;
  z-index: 1;
  backdrop-filter: blur(5px);
} */


.project_content {
  display: grid;
  justify-content: start;
  align-content: space-between;
  grid-template-rows: 80% 20%;
  grid-gap: 1em;
  padding: 2em;
  position: absolute;
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width: 100%;
  grid-template-columns: 1fr;
}


.project_content::-webkit-scrollbar {
  display: none;
}


.project_card img {
  max-height: 100%;
}

.project_images {
  position: relative;
  height: auto;
  display: grid;
  grid-gap: 1em;
}

.project_image {
  display: inline-grid;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

}

.project_title {
  font-weight: bold;
  font-size: 1.25em;
  padding-bottom: 0.25em;
  margin-top: 0.5em;
  line-height: 1em;
}

.project_description {
  line-height: 1em;
  font-family: articulat-cf, sans-serif;
  font-weight: 600;
  max-width: 35em;
  padding-bottom: 2em;
}







/* Work
================================================================== */

.work .grid {
  grid-template-rows: auto;
}






/* Header Content
================================================================== */
header {
  background-color: #95B1C5;
  color: white;
}

.header_text {
  max-width: 1200px;
  margin: 2em auto;
  padding: 1em 1em 4em 1em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;
  justify-content: start;
  grid-gap: 1em;
  color: white;
  text-decoration: none;
}

.header_text:hover {
  color: white;
}

.logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  padding: 5em 2.2em;
  /* position: relative;
  right: 20.5em; */
}

.logo-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer
================================================================== */

footer {
  margin: 0;
  margin-top: 5em;
  padding: 0;
  background-color: #51709d;
  color: white;
}

.footer_text {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  align-items: end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5em 1em;
}

.copyright {
  font-size: 1em;
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer_link {
  color: white;
  transition: all 0.5s;
}

.footer_link:hover {
  color: #95B1C5;
}




/* Contact overlay
================================================================== */

.contact_overlay {
  background-color: #51709d;
  color: white;
  /* padding: 20em 25em 20em 25em; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 5;
  transform: translateX(100vw);
  transition: transform 0.5s;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

body.contact_active {
  overflow-y: hidden;
}
.contact_active .contact_overlay {
  transform: translateX(0);
}

.close_contact {
  position: absolute;
  left: 2em;
  width: 2em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.contact_content {
  max-width: 45em;
  margin: 0 auto;
  padding-left: 5em;
  padding-right: 3em;
}

.contact-info {
  margin-top: 2em;
  max-width: 43em;
}

.contact-logo {
  max-width: 12em;
  position: relative;
  float: right;
  bottom: -5em;
  right: -5em;
  display: none;
}


/* Media queries
================================================================== */

@media screen and (min-width: 300px) {
  .logo {
    margin-right: 1em;
  }
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .column_info {
    grid-column-end: span 2;
  }

}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20em;
  }

  .column_left {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .column_middle {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 5em;
  }

  .column_right {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .header_text {
    grid-template-columns: auto auto;
  }

  .logo {
    margin-right: 1em;
  }

  .footer_text {
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    text-align: right;
  }

  .project_images {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .col_span_2 {
    grid-column-end: span 2;
  }

  .col_span_3 {
    grid-column-end: span 3;
  }

  .row_span_2 {
    grid-row-end: span 2;
  }

  .row_span_3 {
    grid-row-end: span 3;
  }
}